.headerFixedBar{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;

}

.headerLogoText{
  color: #1e90ff;
  font-size: 1.5em;
  line-height: 1.5em;
}

.headerLogoText:hover{
  color: #ADD8E6;
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 500;
}

.headerLogoImage {
  width: 100px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.pullLeft {
  float: left;
  display: inline-block;
}

.pullRight {
  float: right;
  display: inline-block;
}

.themeButton {
  background-color: #0000ff;
  color: white;
  border-color: black;
  border-width: thin;
  font-weight: 500;
}

.themeButton:hover{
  background-color: white;
  color: #1e90ff;
  border-width: thin;
  border-color: #0000ff;
}

.paginationArrow{
  padding-right: 5px;
  padding-left: 5px;
}

.paginationBar{
  padding: 15px;
}

.categoryModule{
  background-color: white;
  color: black;
  overflow: none;
}

.forumModule{
  background-color: white;
  color: black;
  overflow: none;
}

.forumMargin{
  margin-bottom: 10px;
}

.forumPad{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.forumTable{
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.forumTable a:hover{
  font-weight: normal;
}

.forumTable tr{
  border: 1px solid #f2f2f2;
}

.forumTable td,th{
  padding: 5px;
}



.columnPad{
margin: 5px;
}



body{
  background-color: #f2f2f2;
  margin-top: 75px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

a{
  color:#1e90ff;
  text-decoration: none;
}
a:hover{
  color:border-color: #0000ff;
  font-weight: 500;
  text-decoration: none;
}

h1{
  font-size: 1.7em;
  color: #1e90ff;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.3em;
}

h4{
  font-size: 1.1em;
}
